extends layout.jade

block content
	h4
		b= "Last 30 Events in ucdd2-sp15"
	div.row
		div.one.column
			h5
		div.three.columns
			h5 Event Type
		div.three.columns
			h5 Repo
		div.three.columns
			h5 User

	-var index = 0
	each item in events
		div.row
			div.one.column
				a(href='/event/view/' + item.id)
					= ++index
			div.three.columns
				= item.type
			div.three.columns      
				= item.repo.name
			div.three.columns
				= item.actor.login

			
			
