extends layout.jade

block content
	h4
		b= "All Repos in ucdd2-sp15"
	div.row
		div.one.column
		div.two.columns
			h5 Repo
		div.eight.columns
			h5 Description
	each item in repos
		div.row
			div.one.column
			div.two.columns      
				a(href='/repo/view/' + item.name)
					= item.name
			div.eight.columns
				if item.description == null
					| 
				else
					= item.description

			
			
